@keyframes load {
    from{width: 0%;}
}
.mybar{
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 2px;
    line-height: 0;
    padding: 0;
    width: 100px;
}
.beginer,.intermediate,.experience,.advance{
    display: inline-block;
    padding: 3.12px;
    border-radius: inherit;
}
.beginer{
    background-color: rgb(208, 230, 17);
    width: 30%;
}
.intermediate{
    background-color: rgba(157, 236, 53, 0.705);
    width: 60%;
}
.experience{
    background-color: rgba(49, 218, 49, 0.726);
    width: 75%;
}
.advance{
    background-color: rgb(53, 236, 53);
    width: 90%;
}
.ani{
    animation: load 2s 0s 1;
}